/* Dark mode styles */
@font-face {
    font-family: 'Network Sans';
    src: url('/fonts/NETWORKSANS-2019-REGULAR.TTF') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

@media (prefers-color-scheme: dark) {

    
  
    .bg-white,
    .bg-black {
      background-color: #000000 !important;
    }
    .bg-near-white,
    .bg-light-gray {
      background-color: rgb(44, 44, 44) !important;
    }
    *,
    .light-silver,
    .black,
    .gray,
    a,
    a:hover {
      color: #cccccc;
    }
    
    .avenir,
    h1, h2, h3, h4, h5 {
      font-family: 'Network Sans' !important;
    }
  }